body {
    background-color: antiquewhite;

}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-weight: bold;
}

table td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid black;
    padding: 0;
}

table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}


.main {
    height: fit-content;
    display: flex;
    align-items: center;
}

.handler {
    display: inline-block;
    width: 80px !important;
    height: 80px !important;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.animate-circle {
    animation: circle-animation 1s forwards;
  }

  @keyframes circle-animation {
    from {
      stroke-dasharray: 0 220;
    }
    to {
      stroke-dasharray: 220 0;
    }
  }


td:hover {
    background-color: gray !important;
}

.center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}